@import 'config';
@import 'menu';

*{
    // this makes the padding not affect the width and height
    box-sizing: border-box;
}

body{
    @include background;
    background-color: $primaryColor;
    height: 100%;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.5;
    color: set-text-color($primaryColor);
}

// headings
h1, h2, h3{
    margin: 0;
    font-weight: 400; // make it less thick
    
    &.lg-heading{
        font-size: 6rem; //rem is a multiplier of html size (16px)
    }

    &.sm-heading{
        margin-bottom: 2rem;
        padding: 0.2rem 2rem;
        background-color: rgba(lighten($primaryColor, 2),0.5); // rgba to enable see through
    }
}

a{
    text-decoration: none;
    color: set-text-color($primaryColor);
}

header{
    position: fixed;
    z-index: 3;
    width: 100%;
}

.text-secondary{
    color: $secondaryColor;
}

main{
    padding: 4rem;
    // height: 100%;
    min-height: calc(100vh - 55px);
    .social-icons{
        a{
            padding: 0.4rem;
            &:hover{
                color: $secondaryColor;
                @include easeOut;
            }
        }
    }

    &#home{
        overflow: hidden;
        h1{
            margin-top: 20vh; // vh is like 100 units so taking 20 of the 100 
        }
    }
}

.about-info{
    display: grid;
    grid-gap: 30px;
    grid-template-areas: 
    'bioimage bio bio'
    'job1 job2 job3';
    grid-template-columns: repeat(3, 1fr);
}

.bio-image{
    grid-area: bioimage;
    margin: auto;
    border: solid 3px $secondaryColor;
    border-radius: 50%;
    width: 250px;
    height: 250px;
}

.bio{
    grid-area: bio;
}

.job-1{
    grid-area: job1;
}

.job-2{
    grid-area: job2;
}

.job-3{
    grid-area: job3;
}

.job{
    background: lighten($color: $primaryColor, $amount: 5);
    padding: 10px;
    border-bottom: 3px solid $secondaryColor;
}



//work /projects
.projects{
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(3, 1fr);
    img{
        width: 100%; // of its container
        border: solid 3px #fff;
        &:hover{
            opacity: 0.5;
            border-color: $secondaryColor;
            @include easeOut;
        }
    }
}

.btn{
    display: inline-block;
    padding: 0.5rem 1rem;
    border: 0;
    margin-bottom: 0.3rem;
    &:hover{
        background: $secondaryColor;
        // color:set-text-color($secondaryColor);
    }
}

.btn-light{
    @extend .btn;
    background: lighten($color:$primaryColor, $amount: 50);
    color: darken($color: $primaryColor, $amount: 50);
}

.btn-dark{
    @extend .btn;
    background: darken($color:$primaryColor, $amount: 50);
}

.boxes{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 1rem;

    div{
        font-size: 2rem;
        border: 3px solid #fff;
        padding: 1.5rem 2.5rem;
        margin-bottom: 3rem;
        cursor: pointer;

        &:hover{
            padding: 0.5rem 1.5rem;
            background: $secondaryColor;
            @include easeOut;
            color: set-text-color($secondaryColor);
            span{
                color: set-text-color($primaryColor);
            }
        }
    }
}

#main-footer{
    text-align: center;
    color: set-text-color($primaryColor);
    background: darken($color: $primaryColor, $amount: 10);
    padding: 1rem;
    height: 55px;
}



@import 'mobile';